<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <title>Celular Amigo</title>
  </head>
  <body>
    <h1 class="text-center text-white">Celular Amigo</h1>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'fhistoria' %}">Nossa Historia</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Produtos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'flista_produtos' %}?categoria=celular">Celulares</a>
                  <a class="dropdown-item" href="{% url 'flista_produtos' %}?categoria=capa">Capas</a>
                  <a class="dropdown-item" href="{% url 'flista_produtos' %}?categoria=acessorios">Acessórios</a>
                </div>
              </li>
            </ul>
             <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'exibir_carrinho' %}">Carrinho</a>
              </li>
            {% if request.session.cliente_id %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Sair <span>&rarr;</span></a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'flogincli' %}" id="loginLink">Entrar <span>&rarr;</span></a>
                </li>
            {% endif %}
        </ul>
          </div>
</nav>

   <!-- Bloco para exibir mensagens -->
    {% if messages %}
        <div class="alert alert-danger" role="alert" id="messageModal" data-dismiss="modal">
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
        </div>
    {% endif %}

    </header>

 <div id="carouselExampleFade" class="carousel slide carousel-fade" style=" margin: 15px 20px;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                 <img src="{% static 'img/3-xiaomi.jpg' %}" class="d-block w-100" alt="xiaomi">
            </div>
            <div class="carousel-item">
                 <img src="{% static 'img/5-celulares.jpg' %}" class="d-block w-100" alt="5-celulares">
            </div>
            <div class="carousel-item">
                 <img src="{% static 'img/xiaomi-4.webp' %}" class="d-block w-100" alt="celulares">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
 </div>

    <!-- Inclusão do JS do Bootstrap e Popper.js (necessários para o funcionamento do menu colapsável) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>


<script>
    $(document).ready(function() {
        // Verifica se a mensagem existe
        if ($('#messageModal').length) {
            // Exibe a mensagem por 3 segundos e depois a oculta
            setTimeout(function() {
                $('#messageModal').fadeOut('slow');
            }, 3000); // Tempo em milissegundos (3000ms = 3 segundos)
        }
    });
</script>


</body></html>


    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

   <script>
    $(document).ready(function() {
        // Verifica se a mensagem existe
        if ($('#messageModal').length) {
            // Exibe a mensagem por 3 segundos e depois a oculta
            setTimeout(function() {
                $('#messageModal').fadeOut('slow');
            }, 3000); // Tempo em milissegundos (3000ms = 3 segundos)
        }
    });
</script>





  </body>
</html>



