<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Relatório de Compras</title>
</head>
<body>
<div class="container">
    <h2>Relatório de Compras</h2>

    <table class="table">
        <thead>
            <tr>
                <th>ID do Pedido</th>
                <th>Cliente</th>
                <th>Data do Pedido</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.cliente.nome }}</td>
                <td>{{ pedido.data_pedido }}</td>
                <td>R$ {{ pedido.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
